<div class="question_form_wrapper">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let item of category" [value]="item.value">{{item.text}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="textarea" appearance="outline">
      <mat-label>Question</mat-label>
      <textarea matInput formControlName="question"></textarea>
    </mat-form-field>
    <div class="button">
      <button type="button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="createQuestion()">
        Create
      </button>
    </div>
  </form>
</div>
