<div class="sidenav_wrapper">
  <mat-button-toggle-group class="sidenav" value="dashboard" aria-label="Navigation" (change)="handleRedirect($event)">
    <mat-button-toggle value="dashboard">
      <mat-icon>dashboard</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="questions">
      <mat-icon>announcement</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="users">
      <mat-icon>account_circle</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="logout">
    <mat-icon (click)="handleLogout()">exit_to_app</mat-icon>
  </div>
</div>
