.sidenav_wrapper {
  background-color: #3838fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 10px;

  .sidenav {
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    width: 60px;

    .mat-button-toggle {
      margin-top: 20px;
    }

    .mat-button-toggle-checked, .mat-button-toggle, .mat-button-toggle-group {
      border: none;
      background-color: inherit;
    }

    .mat-button-toggle-checked {
      background: inherit;
      color: white;
      border-bottom: solid 2px white;
    }

    ::ng-deep .mat-button-toggle-focus-overlay {
      position: unset;
    }
  }

  .logout {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    padding-top: 15px
  }

  .logout:hover {
    cursor: pointer;
  }
}
