<mat-button-toggle-group class="sidenav" value="dashboard" aria-label="Navigation" (change)="handle($event)">
  <mat-button-toggle class="sidenav__item" value="dashboard">
    <mat-icon>dashboard</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="sidenav__item" value="users">
    <mat-icon>account_circle</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle class="sidenav__item" value="questions">
    <mat-icon>question_answer</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
