.sidenav {
  height: 100vh;
  width: 70px;
  background-color: #3838fc;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-top: 30px;
    background-color: inherit;

  }

  .mat-button-toggle-group {
    margin-left: 30px;
  }

  .mat-button-toggle-checked, .mat-button-toggle, .mat-button-toggle-group {
    border: none;
    color: white;
  }

  .mat-button-toggle-checked {
    background: inherit;
    border-bottom: solid 2px white;
  }

  ::ng-deep .mat-button-toggle-focus-overlay {
    position: unset;
  }

  &__item:hover {
    cursor: pointer;
  }
}

