.user_list {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
  }

  &__table {
    width: 80%;
  }

  &__user_row:hover {
    cursor: pointer;
  }

}
