.auth_form {
  position: relative;
  width: 60vw;
  height: 60vh;
  padding: 20px;
  box-shadow: 4px 4px 15px 14px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form_field_group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;

    &__form_field {
      width: 250px !important;
    }
  }

  &__small {
    position: absolute;
    bottom: 20px;
  }
  &__btn {
    margin-bottom: 30px;
  }

  ::ng-deep .mat-form-field {
    width: 100%;
  }
}
