<div>
  <mat-list role="list">
    <mat-list-item role="listitem" class="list_header">
      <div class="list_item">Question</div>
      <div class="list_item">Answer</div>
      <div class="list_item">Difficulty</div>
      <div class="list_item">Rating</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" class="list_item_group" *ngFor="let item of questions" (click)="showEvaluateModal(item)">
      <div class="list_item">{{ item.question.question }}</div>
      <div class="list_item">{{ item.answer }}</div>
      <div class="list_item">{{ item.question.average_difficulty }}</div>
      <div class="list_item">{{ item.question.average_rating }}</div>
    </mat-list-item>
  </mat-list>
</div>
