.questions_wrapper {
  padding:  40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .question_card {
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    width: 40%;
  }

  ::ng-deep .mat-form-field {
    width: 100%;
  }
}
