.questions_wrapper {
  display: flex;
  flex-wrap: wrap;

  &__question_card {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
